body{
	width: 100%;
	overflow-x: hidden;
	line-height: normal !important;
	letter-spacing: 1px !important;
	font-family: 'Geliat' !important;
    font-style: normal !important;
    font-weight: 200 !important;
    src: local('Geliat'), url('https://fonts.cdnfonts.com/s/65524/Geliat-ExtraLight.woff') format('woff');
}
.form-control{
	box-shadow: none !important;
	background-color: rgb(255,239,212) !important;
	border-color: rgb(255,239,212) !important;
	color: orange !important;
	font-family: 'Apercu' !important;
    font-style: italic !important;
    font-weight: 300 !important;
    src: local('Apercu'), url('https://fonts.cdnfonts.com/s/22258/Apercu Light Italic.woff') format('woff');
}
.form-control::placeholder{
	color: orange !important;
}
.btn-warning{
	color: #fff !important;
}
header{
	width: 100%;
}
.text_title{
	font-size: 23px; 
	font-weight: 500; 
	text-transform: uppercase;
	padding: 2.5px 0 5px 0;
}
#mobile_logo{
	display: none;
	float: right; 
	cursor: pointer;
	color: rgb(255,197,70);
}
#mobile_menu{
	display: none;
}
#mobile_web_search{
	padding: 1.5rem .5rem; 
	background-color: transparent; 
	border-color: transparent; 
	text-transform: uppercase; 
	font-weight: 500;
	color: #fff;
}
#mobile_web_search::placeholder{
   color: #fff;
}
#center_logo img{
	height: 150px;
	margin: 25px;
	position: absolute;
	background: transparent !important;
	z-index: 1;
	padding: 10px;
}
#center_logo img:hover{
	background: transparent !important;
}
.donasi_sampul{
    height: 450px;
    /*width: 100%;*/
}
.image_content{
    height: 225px;
    width: 100%;
}
#left_logo{
	text-align: center;
	display: none;
}
#left_logo, #center_logo{
	z-index: 1; 
	background-color: transparent;
	padding: 0;
}
#left_logo img{
	width: 150px;
	margin: 22px 10px;
}
#top_header{
	margin: 0;
}
#bottom_header{
	width: 100%;
	margin: 0;
	background-color: rgb(255,197,70);
}
ul{
	margin: 0 !important;
}
.ul_menu_dropdown{
    list-style: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(255,197,70);
    padding: 10px 0;
    display: none;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.ul_menu_dropdown li{
    padding: 5px 15px;
    text-align: left;
}
.ul_menu_dropdown li a{
    margin: 0 !important;
}
.ul_menu{
	padding: 5px;
}
.ul_menu li{
    color: #fff;
}
.ul_menu li a{
	vertical-align: middle;
    cursor: pointer;
    padding: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 20px;
    font-size: 17px;
    transition: color .25s !important;
    text-decoration: none;
    color: #fff;
}
.ul_menu li a:hover, .ul_menu li:hover{
     color: darkgreen;
}
.detail_artikel{
	color: blue;
	cursor: pointer;
	font-size: 15px;
	transition: font-size .25s !important;
}
.detail_artikel:hover{
	font-size: 17px;
}
footer{
	text-align: center;
	padding: 10px 0;
	background-color: rgb(255,197,70);
	color: #fff;
}
footer img{
	width: 75px;
	margin: 10px;
}
footer p{
	text-indent: 0 !important;
}
#main_content{
	min-height: 42vh;
}
.c_news{
	cursor: pointer;
}
.img_news{
	width: 100%;
	height: 200px;
}
.c_news{
	width: 100%;
	margin-bottom: -200px;
	position: relative;
}
.c_news:after{
  	display:block;
  	height: 200px;  
  	content: attr(title);
  	color: #fff;
  	text-align: center;
  	background: rgba(0,0,0,0.75);  
  	text-transform: capitalize;
  	padding: 75px 0;
  	transform: scaleY(0);   
  	transition: transform .5s ease-in-out;
  	transform-origin: top;
}
.c_news:hover:after {
    transform: scaleY(1);
}
.c_rule{
    padding: 5px 10px;
    transition: color .25s !important;
    cursor: pointer;
    text-transform: capitalize;
    background: rgb(255,197,70);
    color: #212529;
    border-bottom: 1px solid #fff;
}
.c_d_rule{
    display: none;
    text-align: justify;
}
.c_rule:hover{
    color: #fff;
}
#ul_foot_left li, #ul_foot_center li{
	border-color: transparent;
	padding: .25rem 1.25rem;
	background-color: transparent;
}
#ul_foot_left li a, #ul_foot_center li a{
	color: #212529;
}
#ul_foot_left li a, #ul_foot_center li a{
	vertical-align: middle;
    cursor: pointer;
    /*padding: 10px 0;*/
    text-transform: uppercase;
    /*margin: 0 30px;*/
    /*font-size: 17px;*/
    transition: color .25s !important;
    text-decoration: none;
}
#ul_foot_left li a:hover, #ul_foot_center li a:hover{
     color: rgb(255,197,70);
}
.foot_col{
	padding: 15px 30px !important;
}
.foot_border{
	border-left: 2px solid rgb(255,197,70);
}
.text_col_search{
	padding: 0 0 0 5px; 
	text-transform: capitalize;
}
.donasi_title{
	height:  90px;
}
@media screen and (max-width: 1200px){
	#center_logo img{
		height: 140px;
	}
	.image_content{
	    height: 210px;
	}
	.donasi_sampul{
	    height: 425px;
	}
	.ul_menu li a{
	    margin: 0 17px;
	}
}
@media screen and (max-width: 1100px){
	#center_logo img{
		height: 130px;
	}
	.donasi_sampul{
	    height: 400px;
	}
	.image_content{
	    height: 195px;
	}
	.ul_menu li a{
	    margin: 0 10px;
	}
	.donasi_title{
		height:  120px;
	}
}
@media screen and (max-width: 1000px){
	#center_logo img{
		height: 120px;
	}
	.donasi_sampul{
	    height: 350px;
	}
	.image_content{
	    height: 180px;
	}
	.ul_menu li a{
	    margin: 0 3px;
	}
	.text_col_search{
		padding: 5px 0 0 0; 
		text-transform: capitalize;
	}
	.ul_menu_dropdown{
		margin-left: -7.5px !important;
	}
}
@media screen and (max-width: 900px){
	#center_logo img{
		height: 110px;
	}
	.donasi_sampul{
	    height: 325;
	}
	.image_content{
	    height: 165px;
	}
	.ul_menu li a{
	    margin: 0;
	    font-size: 14px;
	}
	.ul_menu_dropdown{
		margin-left: -12.5px !important;
	}
	.donasi_title{
		height:  150px;
	}
}
@media screen and (max-width: 800px){
	#center_logo img{
		height: 100px;
	}
	.donasi_sampul{
	    height: 300px;
	}
	.image_content{
	    height: 150px;
	}
}
@media screen and (max-width: 767px){
    .donasi_title{
		height:  auto;
	}
	.ul_menu_dropdown{
	    margin-left: 169px !important;
		margin-top: -37px !important;
		border-color: transparent;
		background-color: rgb(255,197,70);
		padding: 0;
		border-radius: 0;
	}
	.ul_menu_dropdown li{
	    padding: 12.5px;
	}
	.ul_menu{
		padding: 0;
		top: 0;
		position: fixed;
		height: 100vh;
		background-color: rgb(255,197,70);
		width: 190px;
	}
	.ul_menu li{
		margin-bottom: 0;
		background-color: transparent;
		border-bottom: 1px solid #fff;
		color: #fff;
		font-size: 16px;
	}
	.ul_menu li a{
		color: #fff;
		font-size: 15px;
	}
	#bottom_header{
		display: none;
	}
	#mobile_logo{
		display: block;
		padding: 27px 15px;
	}
	#mobile_menu{
		position: absolute;
		z-index: 1;
	}
	#left_logo{
		text-align: left;
		display: block;
	}
	#center_logo img{
		display: none;
	}
	.donasi_sampul{
	    height: 275px;
	}
	.image_content{
	    height: 400px;
	}
	#main_content{
		padding: 0 125px;
	}
	.foot_subscribe{
		padding: 15px 50px !important;
	}
	.foot_border{
		border-left: none;
		border-top: 2px solid rgb(255,197,70);
	}
}
@media screen and (max-width: 700px){
	.donasi_sampul{
	    height: 225px;
	}
}
@media screen and (max-width: 600px){
	#main_content{
		padding: 0 75px;
	}
}
@media screen and (max-width: 500px){
	.donasi_sampul{
	    height: 175px;
	}
	.image_content{
	    height: 300px;
	}
	footer img{
		width: 60px;
		margin: 5px;
	}
	footer p{
		font-size: 14px;
	}
}
@media screen and (max-width: 400px){
	.donasi_sampul{
	    height: 150px;
	}
	#main_content{
		padding: 0 50px;
	}
	footer img{
		width: 45px;
		margin: 0;
	}
	footer p{
		font-size: 11px;
	}
}
@media screen and (max-width: 300px){
	#main_content{
		padding: 0 25px;
	}
}