.marker-cluster-small {
	background-color: rgba(255, 0, 0, 0.25);
	}
.marker-cluster-small div {
	background-color: rgba(255, 0, 0, 0.5);
	}

.marker-cluster-medium {
	background-color: rgba(255, 0, 0, 0.25);
	}
.marker-cluster-medium div {
	background-color: rgba(255, 0, 0, 0.5);
	}

.marker-cluster-large {
	background-color: rgba(255, 0, 0, 0.25);
	}
.marker-cluster-large div {
	background-color: rgba(255, 0, 0, 0.5);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgba(255, 0, 0, 0.25);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgba(255, 0, 0, 0.5);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgba(255, 0, 0, 0.25);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgba(255, 0, 0, 0.5);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgba(255, 0, 0, 0.25);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgba(255, 0, 0, 0.5);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}